<h1>Sample App</h1>
<p>This is the home page for blah blah blah</p>

<%= link_to "Sign up now!", '#', :class => "signup_button round"%>
<%= link_to "Ultrasurf", 'ultrasurf.zip', :class => "signup_button round"%>
<%= link_to "wjbutton", 'wjbutton_en.xpi', :class => "signup_button round"%>
